:root {
  --color-primary: 190, 100%, 48%;
  --color-primary-hover: 187, 100%, 39%;
  --color-primary-dark: 187, 100%, 14%;

  --color-secondary: 73, 59%, 63%;
  --color-secondary-hover: 79, 65%, 58%;
  --color-secondary-dark: 107, 34%, 34%;

  --color-active: 134, 25%, 24%;
  --color-card: 146, 100%, 97%;
  --color-background: 0, 0%, 100%;

  --border-radius: 8px;
  --border-color: 0, 0%, 78%;
}
